<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>saveProductData</servlet-name>
        <servlet-class>pl.altkom.service.SaveProductDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readProductData</servlet-name>
        <servlet-class>pl.altkom.service.ReadProductDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>pl.altkom.service.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProduct</servlet-name>
        <servlet-class>pl.altkom.service.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>pl.altkom.service.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveProductData</servlet-name>
        <url-pattern>/saveProductData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readProductData</servlet-name>
        <url-pattern>/readProductData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>controller.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/noResource.html</location>
    </error-page>
    <error-page>
        <exception-type>java.sql.SQLException</exception-type>
        <location>/errorSQL.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NumberF2ormatException</exception-type>
        <location>/errorValue.html</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-coda>/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
